* {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  box-sizing: border-box;
}

html {
  background-color: rgba(250, 249, 249, 0.8);
}

body {
  width: 100%;
}

.logger {
  position: fixed;
  width: 100%;
  top: 45px;
  text-align: center;
  z-index: 2;
}
.logger p {
  width: 30%;
  margin: 0px auto;
  text-align: center;
  color: #fff;
  padding: 0.2rem;
  font-size: 1.2rem;
  border-radius: 10px;
}
.success {
  background-color: rgb(2, 97, 2);
}
.failed {
  background-color: rgb(99, 3, 3);
}
.valid {
  outline-color: #0f0;
}
.inValid {
  outline-color: #f00;
}
button.enabled {
  background-color: rgb(4, 54, 99);
  color: yellow;
}
@media screen and (max-width: 600px) {
  article.view_block {
    width: 100%;
  }
}
@media screen and (min-width: 601px) {
  article.view_block {
    width: 80%;
  }
}
@media screen and (min-width: 900px) {
  article.view_block {
    width: 60%;
  }
}
@media screen and (min-width: 901px) {
  article.view_block {
    width: 60%;
  }
}
